

.header{
    background-color: rgb(0, 58, 250);
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p, h3 {
    text-align: center;
}
